@font-face {

  font-family: 'Gilroy';

  src: url('../fonts/web/gilroyextrabold.woff') format('woff'),
    url('../fonts/web/gilroyextrabold.woff2') format('woff2');

  font-weight: bold;

  font-style: normal;

}

@font-face {

  font-family: 'Gilroy';

  src: url('../fonts/web/gilroylight.woff') format('woff'),
    url('../fonts/web/gilroylight.woff2') format('woff2');

  font-weight: normal;

  font-style: normal;

}

@font-face {

  font-family: 'OpenSans';

  src: url('../fonts/web/opensans.woff') format('woff'),
    url('../fonts/web/opensans.woff2') format('woff2');

  font-weight: normal;

  font-style: normal;

}

@font-face {

  font-family: 'OpenSans';

  src: url('fonts/web/opensanslight.woff') format('woff'),
    url('fonts/web/opensanslight.woff2') format('woff2');

  font-weight: 300;

  font-style: normal;

}

html {

  box-sizing: border-box;
}

*,
*::before,
*::after {

  box-sizing: inherit;
}

body {
  margin: 0 auto;
  padding: 0;

  min-width: 1200px;

  font-family: 'OpenSans', Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 2;
  text-align: left;
  color: #464646;

  background-color: #ffffff
}

a {
  text-decoration: none;
  color: #000000;
}

.list {
  padding: 0;
  margin: 0;
}

.list li {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

header {
  width: 1160px;
  padding: 0 60px 0;
  margin: 40px auto 0px;

  display: flex;
  flex-direction: column;

  color: #000000;

  background-color: rgba(240, 197, 46, 0.5);
}

.index-header {
  padding-bottom: 170px;
}

.catalog-header {
  padding-bottom: 50px;
}

.logo:hover svg {
  opacity: 0.6;
}

.logo:active svg {
  opacity: 0.3;
}

.logo-top {
  margin-top: -18px;

  line-height: 0;
}

.header-menu {

  padding: 0;
  margin: 0;
}

.main-menu-top {
  position: relative;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: space-between;

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.33;

}

.main-menu-delivery {
  margin-left: 200px;
}

.main-menu-warranty {
  margin-left: -50px;
}

.main-menu-top a {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.catalog-wrapper {
  display: none;

  position: absolute;
  z-index: 2;
  width: 1160px;
  height: 170px;
  left: -60px;
  top: 100%;

  background-color: #f7e284;
}

.catalog-wrapper:hover {
  display: block;
}

.catalog-link::after {
  content: "";

  display: inline-block;
  margin-left: 16px;
  width: 16px;
  height: 16px;

  background: url(../img/plus.svg) no-repeat 0 0;
  opacity: 0.3;
}

.catalog-link:hover+.catalog-wrapper {
  display: block;
}

.catalog {
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 30px;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.catalog-item {
  margin: 0;
  padding: 0 30px;
}

.catalog a {
  font-family: 'OpenSans', Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 2.4;
  letter-spacing: 0.2px;
  text-transform: none;
}

.catalog-item:nth-child(5) {
  padding-bottom: 20px;
}

.user-form {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-form form {
  min-height: 60px;
}

.user-form input {
  width: 392px;
  min-height: 47px;
  margin: 0;
  padding-left: 36px;
  border: none;
  border-bottom: 2px solid transparent;
  background: none;

  outline: 0;
}

.user-form input:focus {

  border-bottom: 2px solid black;
}


.user-form input::placeholder {
  opacity: 0.3;
}

.user-form input:hover::placeholder {
  opacity: 0.6;
}

.user-form label {
  position: relative;
}

.user-form label::before {
  content: "";

  position: absolute;
  top: 1px;

  width: 16px;
  height: 16px;

  background: url(../img/search.svg) no-repeat 0 0;
}

.user-form button {
  display: none;
  width: 85px;
  height: 49px;
  margin-left: -4px;
  background: none;
  border: 2px solid black;
  outline: 0;

  cursor: pointer;
}

.user-form button:active {
  display: inline-block;

  color: rgba(255, 255, 255, 0.3);

  background-color: black;
}

.user-form input:focus~button {
  display: inline-block;
}

.user-form input:focus~button:hover {
  display: inline-block;

  color: rgba(255, 255, 255, 1);

  background-color: black;
}

.user-menu-top {
  display: flex;
  align-items: baseline;
  margin-top: -20px;
  line-height: 0;
}

.user-link {
  margin-left: 40px;
}

.login {
  margin-right: 178px;
}

.user-link span {
  padding-left: 7px;
}

.user-link:hover svg {
  opacity: 0.6
}

.user-link:active svg {
  opacity: 0.3
}

header a:hover {
  color: rgba(0, 0, 0, 0.6)
}

header a:active {
  color: rgba(0, 0, 0, 0.3)
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
}

.index-title {
  margin-top: 0;

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 47px;
  font-weight: bold;
  line-height: 1.02;
}

.title-wrapper {
  margin: 0;
  padding: 43px 60px;
}

.breadcrumps {
  margin: 0;
  padding: 0;
  display: flex;
}

.breadcrumps-item a {
  font-size: 14px;
  line-height: 1.71;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumps-item:not(.breadcrumbs-item-current) a:hover {
  opacity: 0.6;
}

.breadcrumps-item:not(.breadcrumbs-item-current) a:active {
  opacity: 0.1;
}

.radio {
  position: absolute;
  right: 50px;
  top: 320px;
  display: flex;
  justify-content: space-between;
}

.radio-button {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 6px;
  margin-right: 13px;

  vertical-align: top;

  font-size: 0;

  border-radius: 50%;
  cursor: pointer;
}

.radio-button::before {
  content: "";

  position: absolute;
  top: 4px;
  right: 4px;

  display: block;
  width: 12px;
  height: 12px;

  border: 2px solid #000000;
  border-radius: 50%;
}

.radio-one:checked~.radio .radio-button-first::after,
.radio-two:checked~.radio .radio-button-second::after,
.radio-three:checked~.radio .radio-button-third::after {
  content: "";

  position: absolute;
  top: 7px;
  right: 7px;

  width: 6px;
  height: 6px;

  border: 2px solid #000000;
  border-radius: 50%;
}

.main-products {
  position: relative;

  margin: -110px auto 0;
  display: flex;
}

.product {
  width: 100%;
  display: none;
}

.part {
  width: 50%;
}

.product-image {
  margin: 0;
  padding-left: 90px;
}

.slide-3 .product-image {
  padding-top: 55px;
  padding-left: 33px;
}

.product-description {
  padding-top: 30px;
  padding-right: 60px;
  padding-left: 20px;
}

.radio-one:checked~.slide-1 {
  display: flex;
}

.radio-two:checked~.slide-2 {
  display: flex;
}

.radio-three:checked~.slide-3 {
  display: flex;
}

.slogan {
  position: relative;
  z-index: 0;

  margin-top: 0;
  margin-bottom: 11px;

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 47px;
  font-weight: bold;
  line-height: 1.19;
}

.slogan::before {
  content: "";

  z-index: 0;

  display: block;
  width: 100px;
  padding-bottom: 41px;

  border-top: 7px solid white;
}

.slide-1 .slogan::after {
  content: "01";

  position: absolute;
  top: -50px;
  right: -15px;
  z-index: -1;

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 179px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: 1.8px;
  color: #ffffff;
}

.slide-2 .slogan::after {
  content: "02";

  position: absolute;
  top: -50px;
  right: -15px;
  z-index: -1;

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 179px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: 1.8px;
  color: #ffffff;
}

.slide-3 .slogan::after {
  content: "03";

  position: absolute;
  top: -50px;
  right: -15px;
  z-index: -1;

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 179px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: 1.8px;
  color: #ffffff;
}

.product-description p {
  margin-bottom: 45px;
}

.button {
  position: relative;

  width: 220px;
  height: 40px;
  padding-top: 2px;
  display: inline-block;

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-align: center;
}

.button::before {
  content: "";

  display: inline-block;
  position: absolute;
  top: 16px;
  left: 0;
  z-index: -2;

  width: 100%;
  height: 8px;

  background-color: #f0c52e;
}

.button:hover::before {
  height: 100%;
  top: 0;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.product-info {
  display: flex;
  margin-top: 40px;
  width: 100%
}

.product-info td {
  padding: 6px 40px;
}

.product-info td:first-child {
  padding-left: 0;
}

.product-info td:last-child {
  padding-right: 0;
}

.product-info tr {
  font-size: 13px;
  line-height: 1.54;
}

.product-info tr:first-of-type {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 36px;
  font-weight: normal;
  line-height: 1.33;
}

.product-list {
  margin-top: 90px;
}

.product-category {
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.category-link {
  width: 160px;

  display: inline-block;
}

.category-icon {
  margin: 0;
  margin-top: -160px;
  padding: 0;
  width: 160px;
  height: 160px;

  text-align: center;
  vertical-align: middle;
}

.first-icon {
  padding-top: 52px;
}

.second-icon {
  padding-top: 41px;
}

.third-icon {
  padding-top: 38px;
}

.fourth-icon {
  padding-top: 50px;
}

.fifth-icon {
  padding-top: 32px;
}

.sixth-icon {
  padding-top: 49px;
}

.category-title {
  margin-top: 30px;
  margin-bottom: 40px;
}

.category-link::before {
  content: "";
  width: 160px;
  height: 160px;

  display: block;

  background-color: rgba(240, 197, 46, 0.5);
}

.category-link:hover::before {
  background-color: rgba(240, 197, 46, 1);
}


.category-link:active h3,
.category-link:active svg {
  opacity: 0.3;
}

.product-category h3 {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.33;
}

.services {
  margin-top: 140px;

  display: flex;
  width: 100%;

  color: black;

  background-color: #e5e5e5;

}

.services-wrapper {
  margin: 0 auto;
  padding-bottom: 70px;
  z-index: 0;

  display: flex;
  justify-content: flex-start;
  width: 1160px;
}

.services-menu {
  margin: 0;
  padding: 0;
  padding-top: 80px;
  margin-top: -100px;
  margin-right: 116px;
  padding-bottom: 80px;
  width: 284px;

  text-align: left;

  border-right: 7px solid black;
}

.service-btn {
  width: 200px;
  cursor: pointer;
}

#delivery-radio:checked~.services-menu .delivery-btn,
#warranty-radio:checked~.services-menu .warranty-btn,
#credit-radio:checked~.services-menu .credit-btn {
  color: #f7e184;
}

#delivery-radio:checked~.services-menu .delivery-btn::after,
#warranty-radio:checked~.services-menu .warranty-btn::after,
#credit-radio:checked~.services-menu .credit-btn::after {
  content: "";

  position: absolute;
  z-index: -1;

  width: 278px;
  height: 100%;
  top: 0;
  left: 0;

  background-color: #000000;
}

.services-menu li:not(:first-child) {
  margin-top: 22px;
}

.service {
  display: none;
  position: relative;
  margin-top: -25px;
  width: 460px;
}

.service h3 {
  margin: 0;
  display: inline-block;
  padding-bottom: 15px;

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 47px;
  font-weight: bold;
  line-height: 1.02;
}

.delivery-slide::after {
  content: "";

  position: absolute;
  top: 5px;
  right: -232px;
  width: 136px;
  height: 164px;

  background: url(../img/delivery_icon.svg) no-repeat 0 0;
}

.warranty-slide::after {
  content: "";

  position: absolute;
  top: 5px;
  right: -262px;
  width: 171px;
  height: 194px;

  background: url(../img/warranty_icon.svg) no-repeat 0 0;
}

.credit-slide::after {
  content: "";

  position: absolute;
  top: 5px;
  right: -220px;
  width: 156px;
  height: 186px;

  background: url(../img/credit_icon.svg) no-repeat 0 0;
}

#delivery-radio:checked~.delivery-slide {
  display: block;
}

#warranty-radio:checked~.warranty-slide {
  display: block;
}

#credit-radio:checked~.credit-slide {
  display: block;
}

.partners {
  margin: 94px auto 134px;

}

.partners-logo {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.info-wrapper {
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.info-wrapper h2 {
  position: relative;
  margin-top: 3px;


  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 47px;
  font-weight: bold;
  line-height: 1.02;
}

.info-wrapper h2::before {
  content: "";

  position: absolute;
  top: -51px;
  width: 80px;
  height: 7px;

  background-color: #000000;
}

.info-wrapper .button {
  width: 260px;
}

.about {
  padding-right: 120px;
}

.about p:nth-of-type(1) {
  padding-top: 5px;
}

.about p:nth-of-type(2) {
  padding-top: 20px;
  margin-bottom: 0;
}

.delivery-companies {
  margin-top: 67px;
  padding-bottom: 55px;

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.71;
}

.delivery-companies li {
  position: relative;
  padding-left: 33px;
  padding-top: 0;

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 2.5;
  color: #000000;
}

.delivery-companies li::before {
  content: "";

  position: absolute;
  left: 0;
  top: 40%;
  width: 8px;
  height: 8px;

  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

.contacts {
  margin-top: 3px;
}

.contacts p {
  margin: 0;
  padding-top: 5px;
}

.contacts .map {
  display: inline-block;
  margin-top: 40px;
}

.contacts .button {
  margin-top: 60px;
}

.gradient-wrapper {
  display: flex;
}

.filter {
  width: 200px;
  margin: 0;
  margin-left: 60px;
  padding: 0;
}

.filter fieldset {
  border: none;
}

.filter h2 {
  margin: 0;
}

.filter legend {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.33;
}

.filter label {
  font-size: 14px;
  line-height: 2.86;
  letter-spacing: 0.1px;
}

.sort {
  width: 760px;
  margin: 0;
  margin-left: 140px;
  padding: 0;
}

.sort-menu {
  display: flex;
  justify-content: space-between;

  background-color: #ebebeb;
}

.gradient-wrapper h2 {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}

.sort-type {
  display: flex;
  align-items: center;
}

.arrows {
  width: 43px;
  display: flex;
  justify-content: space-between;
}

.arrow-button {
  display: inline-block;
}

.items-wrapper {
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sort-button {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.29;
}

.sort-button:not(.sort-current) {
  color: rgba(0, 0, 0, 0.3);
}

.sort-button:hover:not(.sort-current) {
  color: rgba(0, 0, 0, 0.6);
}

.sort-button:active {
  color: #000000;
}

.product-item-info {
  margin-bottom: 48px;
  display: flex;
  justify-content: space-between;
}

.product-item-info h1 {
  width: 250px;
  margin: 0;
  padding: 0;

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.33;
}

.product-item span {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}

.pagination {
  margin-bottom: 77px;
  margin-top: -10px;
  display: flex;
  justify-content: space-between;
  padding: 26px 30px;

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;

  background-color: #eeeeee;
}

.pagination-list {
  display: flex;
}

.pagination-item:not(.pagination-item-current) a {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-button {
  font-size: 16px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}

.pagination-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-item:not(.pagination-item-current) a:hover {
  color: rgba(0, 0, 0, 0.6)
}

.pagination-item:not(.pagination-item-current) a:active {
  color: rgba(0, 0, 0, 1)
}

footer {
  margin-top: 78px;

  color: #ffffff;

  background-color: #464646;
}

.footer-wrapper {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
}

.footer-top {
  padding-top: 65px;
  display: flex;
  justify-content: space-between;
}

footer path,
footer svg {
  fill: #ffc600
}

.footer-middle {
  margin-top: 27px;
  display: flex;
  justify-content: space-between;
}

.footer-bottom {
  padding: 60px 0;
  display: flex;
  justify-content: space-between;
}

.main-menu-bottom {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.main-menu-bottom li {
  margin-right: 38px;

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.33;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.social {
  position: relative;

  margin: 0;
  padding: 0;
  margin-left: 510px;
  display: flex;
  justify-content: space-between;
}

.social li:not(:last-child) {
  margin-right: 22px;
}

.social::before {
  content: "";

  position: absolute;
  top: 13px;
  left: -510px;
  width: 80px;
  height: 7px;

  background-color: #ffc600;
}

.social-link path,
.social-link rect {
  fill: rgba(181, 181, 181, 0.6)
}

.social-link:hover path,
.social-link:hover rect {
  fill: rgba(181, 181, 181, 1)
}

.social-link:active path,
.social-link:active rect {
  fill: rgba(181, 181, 181, 0.3)
}

.user-menu-bottom {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.user-menu-bottom a {
  color: rgba(255, 255, 255, 0.7);
}

.user-menu-bottom a:hover {
  color: rgba(255, 255, 255, 1);
}

.user-menu-bottom a:active {
  color: rgba(255, 255, 255, 0.3);
}

.main-menu-bottom a {
  color: #ffffff
}

.main-menu-bottom a:hover {
  color: rgba(255, 255, 255, 0.6)
}

.main-menu-bottom a:active {
  color: rgba(255, 255, 255, 0.3)
}

.address p {
  margin: 0;
  padding: 0;
}

.tel-number p {
  margin: 0;
  padding: 0;
}

.tel-number a {
  color: #ffffff;
}

.academy-logo:hover path {
  opacity: 0.6;
}

.academy-logo:active path {
  opacity: 0.3;
}

.letter {
  display: none;
}

.letter label {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.33;
}

.letter-item {
  background-color: rgb(242, 242, 242);
}

.letter-item:hover {
  background-color: rgb(234, 234, 234);
}

.letter-item:focus {
  background-color: white;
}

.letter-item:invalid {
  background-color: rgba(237, 181, 181, 0.5);
}

.letter-item::placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.29;
  color: rgba(70, 70, 70, 0.4)
}

.letter-item:focus::placeholder {
  color: rgb(70, 70, 70);
}

.compare-btn {
  font-size: 13px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: 0.1px;
  text-align: center;
  text-transform: none;
  color: rgba(0, 0, 0, 0.5);
}

.compare-btn:hover {
  color: rgba(0, 0, 0, 1);
}

.compare-btn:active {
  color: rgba(0, 0, 0, 0.2);
}

.map {
  display: none;
}
