@font-face {

  font-family: 'Gilroy';

  src: url('../fonts/web/gilroyextrabold.woff') format('woff'),
    url('../fonts/web/gilroyextrabold.woff2') format('woff2');

  font-weight: bold;

  font-style: normal;

}

@font-face {

  font-family: 'Gilroy';

  src: url('../fonts/web/gilroylight.woff') format('woff'),
    url('../fonts/web/gilroylight.woff2') format('woff2');

  font-weight: normal;

  font-style: normal;

}

@font-face {

  font-family: 'OpenSans';

  src: url('../fonts/web/opensans.woff') format('woff'),
    url('../fonts/web/opensans.woff2') format('woff2');

  font-weight: normal;

  font-style: normal;

}

@font-face {

  font-family: 'OpenSans';

  src: url('fonts/web/opensanslight.woff') format('woff'),
    url('fonts/web/opensanslight.woff2') format('woff2');

  font-weight: 300;

  font-style: normal;

}

html {

  box-sizing: border-box;
}

*,
*::before,
*::after {

  box-sizing: inherit;
}

body {

  font-family: 'OpenSans', Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 2;
  text-align: left;
  color: #464646;
  background-color: #ffffff
}

a {

  text-decoration: none;
  color: #000000;
}

header {

  color: #000000;
  background-color: rgba(240, 197, 46, 0.5);
}

.main-menu-top {

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.33;
}

header a:hover {

  color: rgba(0, 0, 0, 0.6)
}

header a:active {

  color: rgba(0, 0, 0, 0.3)
}

.catalog {
  font-family: 'OpenSans', Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 2.4;
}

.container h1 {

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 47px;
  font-weight: bold;
  line-height: 1.02;
}

.breadcrumps-item a {

  font-size: 14px;
  line-height: 1.71;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumps-item:not(.breadcrumbs-item-current) a:hover {

  opacity: 0.6;
}

.breadcrumps-item:not(.breadcrumbs-item-current) a:active {

  opacity: 0.1;
}

.slogan {

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 47px;
  font-weight: bold;
  line-height: 1.19;
}

.button {

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.button:active {

  color: rgba(0, 0, 0, 0.3);
}

.product-info tr {

  font-size: 13px;
  line-height: 1.54;
}

.product-info tr:first-of-type {

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 36px;
  font-weight: normal;
  line-height: 1.33;
}

.category-link::before {
  content: "";
  width: 160px;
  height: 160px;
  display: block;
  background-color: rgba(240, 197, 46, 0.5);
}

.category-link:hover::before {

  background-color: rgba(240, 197, 46, 1);
}


.category-link:active h3 {

  color: rgba(0, 0, 0, 0.3);
}

.purchase-services-btn:active {

  color: #f7e184;
}

.product-category h3 {

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.33;
}

.purchase-services {

  background-color: #e5e5e5;
  color: black;
}

.service h3 {

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 47px;
  font-weight: bold;
  line-height: 1.02;
}

.index-info h2 {

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 47px;
  font-weight: bold;
  line-height: 1.02;
}

.delivery-companies {

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.71;
}

.filter {

  background-color: #eeeeee;
}

.filter legend {

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.33;
}

.filter label {

  font-size: 14px;
  line-height: 2.86;
  letter-spacing: 0.1px;
}

.sort-menu h2 {

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
}

.sort-button {

  font-size: 14px;
  font-weight: normal;
  line-height: 1.29;
}

.sort-button:not(.sort-current) {

  color: rgba(0, 0, 0, 0.3);
}

.sort-button:hover:not(.sort-current) {

  color: rgba(0, 0, 0, 0.6);
}

.sort-button:active {

  color: #000000;
}

.product-item a {

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.33;
}

.product-item span {

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}

.pagination {

  background-color: #eeeeee;
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
}

.pagination-item:not(.pagination-item-current) a {

  color: rgba(0, 0, 0, 0.3);
}

.pagination-button:active {

  color: rgba(0, 0, 0, 0.3);
}

.pagination-item:not(.pagination-item-current) a:hover {

  color: rgba(0, 0, 0, 0.6)
}

.pagination-item:not(.pagination-item-current) a:active {

  color: rgba(0, 0, 0, 1)
}

footer {

  background-color: #464646;
  color: #ffffff;
}

.user-menu-bottom a {

  color: rgba(255, 255, 255, 0.7);
}

.user-menu-bottom a:hover {

  color: rgba(255, 255, 255, 1);
}

.user-menu-bottom a:active {

  color: rgba(255, 255, 255, 0.3);
}

.main-menu-bottom a {

  color: #ffffff
}

.main-menu-bottom a:hover {

  color: rgba(255, 255, 255, 0.6)
}

.main-menu-bottom a:active {

  color: rgba(255, 255, 255, 0.3)
}

.tel-number a {

  color: #ffffff;
}

.letter label {

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.33;
}

.letter-item {

  background-color: rgb(242, 242, 242);
}

.letter-item:hover {

  background-color: rgb(234, 234, 234);
}

.letter-item:focus {

  background-color: white;
}

.letter-item:invalid {

  background-color: rgba(237, 181, 181, 0.5);
}

.letter-item::placeholder {

  font-weight: normal;
  font-size: 14px;
  line-height: 1.29;
  color: rgba(70, 70, 70, 0.4)
}

.letter-item:focus::placeholder {

  color: rgb(70, 70, 70);
}

.compare-btn {

  font-size: 13px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: 0.1px;
  text-align: center;
  text-transform: none;
  color: rgba(0, 0, 0, 0.5);
}

.compare-btn:hover {

  color: rgba(0, 0, 0, 1);
}

.compare-btn:active {

  color: rgba(0, 0, 0, 0.2);
}
